In [3]:
#Caregando o conunto de dados
import pandas as pd
arquivo = pd.read_csv('/home/aleubuntu/CientistaDados/CientistaDados/CD/DadosExternos/wine_dataset.csv')

In [4]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [5]:
#Na coluna Style os valores estão como string e precisam estar como numeros
arquivo['style'] = arquivo['style'].replace('red', 0)

In [6]:
arquivo['style'] = arquivo['style'].replace('white', 1)

In [9]:
#Separando as variáveis entre preditoras e variável alvo. A alvo é o Y que é a coluna style.
y = arquivo['style']
x = arquivo.drop('style', axis = 1) #esta excluindo a coluna style o axis=1 diz que estamos trabalhando com a coluna

In [10]:
from sklearn.model_selection import train_test_split

#criando os conjuntos de dados de treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)
print(arquivo.shape, x_treino.shape, x_teste.shape, y_treino.shape, y_teste.shape)

(6497, 13) (4547, 12) (1950, 12) (4547,) (1950,)

In [12]:
from sklearn.ensemble import ExtraTreesClassifier

#Criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

#Imprimindo os resultados
resultado = modelo.score(x_teste, y_teste)
print("Acurácia:", resultado)

Acurácia: 0.9953846153846154

In [13]:
y_teste[400:405]

6115    1
3570    1
4822    1
4702    1
1686    1
Name: style, dtype: int64

In [44]:
x_teste[400:405]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
6115,6.2,0.32,0.32,2.2,0.036,15.0,70.0,0.98990,3.16,0.48,12.7,6
3570,6.3,0.41,0.30,3.2,0.030,49.0,164.0,0.99270,3.53,0.79,11.7,7
4822,8.2,0.30,0.44,12.4,0.043,52.0,154.0,0.99452,3.04,0.33,12.0,6
4702,7.0,0.25,0.45,2.3,0.045,40.0,118.0,0.99064,3.16,0.48,11.9,7
1686,6.8,0.25,0.31,13.3,0.050,69.0,202.0,0.99720,3.22,0.48,9.7,6

In [47]:
previsoes = modelo.predict(x_teste[400:410])

In [51]:
if previsoes.all(): 
    print('vinho tinto')
else:
    print('vinho branco')

vinho branco