# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
# seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
ano = pd.Series(dados)
ano = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02], index=['1900','1920','1940','1960','1980','2000','2020'])
ano

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturasSeries = pd.Series(dic_temperaturas)
dic_temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [37]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df_arr = pd.DataFrame(arr)
df_arr

             0           1           2
0    99.652239  101.715923   89.232037
1    98.900299   90.642430   85.275532
2    98.184642   82.437588   94.808261
3   117.054935  105.649520   97.365979
4   119.122825   94.681365  103.090722
5   110.417427   85.902385   94.538579
6    87.015248   94.486848   96.580233
7   104.559971   96.264899   80.617276
8   103.387501  101.758616  104.725875
9   103.019251   82.011984   96.178798
10  113.415756  103.470454  102.452910
11   87.877265  102.520491   84.646916
12   92.812889   98.616545  102.247593
13   90.315466   90.899595  107.856490
14   86.723737  121.967531  101.700731
15  104.649005   96.424306  116.006336
16   96.373930  104.692233  108.182995
17  106.230966   93.360110  108.780383
18   96.533577  104.866516   79.375357
19  105.401642  117.636459   94.776031

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [51]:
#seu código aqui
df_arr = pd.DataFrame(arr, columns=['x1','x2','x3'], index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
df_arr

            x1          x2          x3
1    99.652239  101.715923   89.232037
2    98.900299   90.642430   85.275532
3    98.184642   82.437588   94.808261
4   117.054935  105.649520   97.365979
5   119.122825   94.681365  103.090722
6   110.417427   85.902385   94.538579
7    87.015248   94.486848   96.580233
8   104.559971   96.264899   80.617276
9   103.387501  101.758616  104.725875
10  103.019251   82.011984   96.178798
11  113.415756  103.470454  102.452910
12   87.877265  102.520491   84.646916
13   92.812889   98.616545  102.247593
14   90.315466   90.899595  107.856490
15   86.723737  121.967531  101.700731
16  104.649005   96.424306  116.006336
17   96.373930  104.692233  108.182995
18  106.230966   93.360110  108.780383
19   96.533577  104.866516   79.375357
20  105.401642  117.636459   94.776031

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [53]:
# seu código aqui
df_arr['Media'] = (df_arr['x1'] * df_arr['x2'] * df_arr['x3']) / 3
df_arr

            x1          x2          x3          Media
1    99.652239  101.715923   89.232037  301491.838081
2    98.900299   90.642430   85.275532  254819.304549
3    98.184642   82.437588   94.808261  255796.009258
4   117.054935  105.649520   97.365979  401368.458098
5   119.122825   94.681365  103.090722  387576.841360
6   110.417427   85.902385   94.538579  298903.268207
7    87.015248   94.486848   96.580233  264687.674396
8   104.559971   96.264899   80.617276  270483.190147
9   103.387501  101.758616  104.725875  367258.597190
10  103.019251   82.011984   96.178798  270865.564762
11  113.415756  103.470454  102.452910  400767.772097
12   87.877265  102.520491   84.646916  254200.903035
13   92.812889   98.616545  102.247593  311953.533887
14   90.315466   90.899595  107.856490  295154.291863
15   86.723737  121.967531  101.700731  358579.153812
16  104.649005   96.424306  116.006336  390195.342347
17   96.373930  104.692233  108.182995  363841.119348
18  106.230966   93.360110  108.780383  359618.329091
19   96.533577  104.866516   79.375357  267842.617488
20  105.401642  117.636459   94.776031  391711.731144

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [56]:
# seu código aqui
df_arr['log_med'] = np.log(df_arr['Media'])
df_arr

            x1          x2          x3          Media    log_med
1    99.652239  101.715923   89.232037  301491.838081  12.616498
2    98.900299   90.642430   85.275532  254819.304549  12.448310
3    98.184642   82.437588   94.808261  255796.009258  12.452136
4   117.054935  105.649520   97.365979  401368.458098  12.902635
5   119.122825   94.681365  103.090722  387576.841360  12.867669
6   110.417427   85.902385   94.538579  298903.268207  12.607875
7    87.015248   94.486848   96.580233  264687.674396  12.486306
8   104.559971   96.264899   80.617276  270483.190147  12.507965
9   103.387501  101.758616  104.725875  367258.597190  12.813822
10  103.019251   82.011984   96.178798  270865.564762  12.509378
11  113.415756  103.470454  102.452910  400767.772097  12.901137
12   87.877265  102.520491   84.646916  254200.903035  12.445880
13   92.812889   98.616545  102.247593  311953.533887  12.650610
14   90.315466   90.899595  107.856490  295154.291863  12.595254
15   86.723737  121.967531  101.700731  358579.153812  12.789905
16  104.649005   96.424306  116.006336  390195.342347  12.874403
17   96.373930  104.692233  108.182995  363841.119348  12.804473
18  106.230966   93.360110  108.780383  359618.329091  12.792799
19   96.533577  104.866516   79.375357  267842.617488  12.498155
20  105.401642  117.636459   94.776031  391711.731144  12.878281