# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100, #estamos criando nove linhas e 4 colunas
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"], #identificando, dando nome as linhas 
    columns=["coluna1", "coluna2", "coluna3","coluna4"], #identificando, dando nome as colunas
)
df

      coluna1     coluna2     coluna3     coluna4
A  -17.389487   59.518328   47.591514 -133.986451
B  -66.609504   74.386571  134.932733 -112.326773
C  187.995904  -48.164639  -33.957511  -83.633157
D   19.358900  -78.735212 -163.095188  -15.152938
E  290.012142 -155.624172   44.176894 -154.423757
F  -64.082259   -4.830413   84.899412    4.709168
G  -85.580945  -29.316424   44.443369   -2.689055
H  122.589064   60.061342 -154.449920   37.652009
I -111.319175  -67.655609   98.806496  -35.168995

In [3]:
df.dtypes #mostrando os tipos da coluna

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [4]:
df['coluna1'] = df['coluna1'].astype(int) #alterando o valor da coluna 1 para int

In [4]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [7]:
df['coluna3'] = df['coluna3'].astype(str) #alterando o valor da coluna 1 para str

In [8]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [9]:
df

      coluna1     coluna2              coluna3     coluna4
A  -17.389487   59.518328    47.59151409371285 -133.986451
B  -66.609504   74.386571   134.93273259013816 -112.326773
C  187.995904  -48.164639   -33.95751108540437  -83.633157
D   19.358900  -78.735212  -163.09518773037985  -15.152938
E  290.012142 -155.624172   44.176893650201784 -154.423757
F  -64.082259   -4.830413    84.89941165462288    4.709168
G  -85.580945  -29.316424    44.44336864950651   -2.689055
H  122.589064   60.061342  -154.44991970725266   37.652009
I -111.319175  -67.655609    98.80649587885446  -35.168995

## Acrescentando dados faltantes na tabela

In [10]:
df.iloc[4,2]#o iloc traz o valor da linha 4 coluna 2

'44.176893650201784'

In [12]:
df.iloc[4,2] = np.nan #aqui a gente esta alterando o valor da linha 4 coluna 2 para nan

In [14]:
df

      coluna1     coluna2              coluna3     coluna4
A  -17.389487   59.518328    47.59151409371285 -133.986451
B  -66.609504   74.386571   134.93273259013816 -112.326773
C  187.995904  -48.164639   -33.95751108540437  -83.633157
D   19.358900  -78.735212  -163.09518773037985  -15.152938
E  290.012142 -155.624172                  NaN -154.423757
F  -64.082259   -4.830413    84.89941165462288    4.709168
G  -85.580945  -29.316424    44.44336864950651   -2.689055
H  122.589064   60.061342  -154.44991970725266   37.652009
I -111.319175  -67.655609    98.80649587885446  -35.168995

In [15]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [16]:
df

      coluna1     coluna2              coluna3     coluna4
A  -17.389487   59.518328    47.59151409371285 -133.986451
B         NaN   74.386571   134.93273259013816 -112.326773
C  187.995904  -48.164639   -33.95751108540437  -83.633157
D         NaN  -78.735212  -163.09518773037985  -15.152938
E         NaN -155.624172                  NaN         NaN
F  -64.082259   -4.830413    84.89941165462288    4.709168
G         NaN  -29.316424    44.44336864950651   -2.689055
H  122.589064   60.061342  -154.44991970725266   37.652009
I         NaN  -67.655609    98.80649587885446         NaN

In [17]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [18]:
df.isna() #identificar os valores faltantes

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [21]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [23]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [24]:
df[df['coluna1'].isna()]#dessa forma ele tras as linhas que tem os dados faltantes na coluna 1

   coluna1     coluna2              coluna3     coluna4
B      NaN   74.386571   134.93273259013816 -112.326773
D      NaN  -78.735212  -163.09518773037985  -15.152938
E      NaN -155.624172                  NaN         NaN
G      NaN  -29.316424    44.44336864950651   -2.689055
I      NaN  -67.655609    98.80649587885446         NaN

In [25]:
df[~df['coluna1'].isna()]#com o ~ ele inverte e tras as linhas onde a coluna 1 nao tem nunhum dado faltante
#dentro do dataframe df traga todas as linhas onde a coluna 1 nao tem dados faltantes

      coluna1    coluna2              coluna3     coluna4
A  -17.389487  59.518328    47.59151409371285 -133.986451
C  187.995904 -48.164639   -33.95751108540437  -83.633157
F  -64.082259  -4.830413    84.89941165462288    4.709168
H  122.589064  60.061342  -154.44991970725266   37.652009

In [26]:
df['coluna1']

A    -17.389487
B           NaN
C    187.995904
D           NaN
E           NaN
F    -64.082259
G           NaN
H    122.589064
I           NaN
Name: coluna1, dtype: float64

In [27]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [28]:
df['coluna1'].isna().sum()

5

In [29]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [30]:
df['coluna2']

A     59.518328
B     74.386571
C    -48.164639
D    -78.735212
E   -155.624172
F     -4.830413
G    -29.316424
H     60.061342
I    -67.655609
Name: coluna2, dtype: float64

In [31]:
df['coluna2'].isna().sum()

0

In [32]:
percentage = (df.isnull().sum() / len(df)) * 100 #aqui ele tras o percentual por coluna de isna(dados faltantes)
#o len(df) percorre toda a tabela, caso nos não saibamos do numero de linhas existentes, por exemplo.
percentage

coluna1    55.555556
coluna2     0.000000
coluna3    11.111111
coluna4    22.222222
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [33]:
df['coluna1']

A    -17.389487
B           NaN
C    187.995904
D           NaN
E           NaN
F    -64.082259
G           NaN
H    122.589064
I           NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [35]:
df['coluna1'].fillna(0) # o fillna(diz preencha todos dos dados faltantes com 0)
#Retorna uma cópia dos dados faltantes substituindo-os por 0. Essa substituição é temporaria.
#Para essa substituição ser gravada temos que passar -fillna(0, inplace=True).Assim vai alterar os valores para zero.

A    -17.389487
B      0.000000
C    187.995904
D      0.000000
E      0.000000
F    -64.082259
G      0.000000
H    122.589064
I      0.000000
Name: coluna1, dtype: float64

## Substituindo pela média

In [36]:
df['coluna1']

A    -17.389487
B           NaN
C    187.995904
D           NaN
E           NaN
F    -64.082259
G           NaN
H    122.589064
I           NaN
Name: coluna1, dtype: float64

In [37]:
(-23.0-132.0+94.0+0)/4

-15.25

In [40]:
df['coluna1'].mean() # o metodo mean() ja calcula a média

57.27830546005356

In [43]:
med_col1 = df['coluna1'].mean() #aqui ele criou uma variavel chamada med_coll que podera ser usada outras vezes

In [44]:
df['coluna1'].fillna(med_col1)

A    -17.389487
B     57.278305
C    187.995904
D     57.278305
E     57.278305
F    -64.082259
G     57.278305
H    122.589064
I     57.278305
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [45]:
df['coluna1']

A    -17.389487
B           NaN
C    187.995904
D           NaN
E           NaN
F    -64.082259
G           NaN
H    122.589064
I           NaN
Name: coluna1, dtype: float64

In [46]:
df['coluna1'].sort_values()#o sort_values ordena as linhas na coluna 1 do menor para o maior

F    -64.082259
A    -17.389487
H    122.589064
C    187.995904
B           NaN
D           NaN
E           NaN
G           NaN
I           NaN
Name: coluna1, dtype: float64

In [47]:
(-77-33)/2

-55.0

In [54]:
df['coluna1'].median()

52.59978862402822

In [55]:
mediana_col1 = df['coluna1'].median()

In [56]:
df['coluna1'].fillna(mediana_col1)

A    -17.389487
B     52.599789
C    187.995904
D     52.599789
E     52.599789
F    -64.082259
G     52.599789
H    122.589064
I     52.599789
Name: coluna1, dtype: float64

In [57]:
#Substituindo usando o ffill e o bfill

In [58]:
df['coluna1'].fillna(method='ffill')

A    -17.389487
B    -17.389487
C    187.995904
D    187.995904
E    187.995904
F    -64.082259
G    -64.082259
H    122.589064
I    122.589064
Name: coluna1, dtype: float64

In [59]:
df['coluna1'].dropna()#deltar as linhas faltantes(isna)

A    -17.389487
C    187.995904
F    -64.082259
H    122.589064
Name: coluna1, dtype: float64

In [60]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

      coluna1    coluna2              coluna3     coluna4
A  -17.389487  59.518328    47.59151409371285 -133.986451
C  187.995904 -48.164639   -33.95751108540437  -83.633157
F  -64.082259  -4.830413    84.89941165462288    4.709168
H  122.589064  60.061342  -154.44991970725266   37.652009

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [61]:
df_dup = df.append(df.loc['D':'H',:]).sort_index()
df_dup

      coluna1     coluna2              coluna3     coluna4
A  -17.389487   59.518328    47.59151409371285 -133.986451
B         NaN   74.386571   134.93273259013816 -112.326773
C  187.995904  -48.164639   -33.95751108540437  -83.633157
D         NaN  -78.735212  -163.09518773037985  -15.152938
D         NaN  -78.735212  -163.09518773037985  -15.152938
E         NaN -155.624172                  NaN         NaN
E         NaN -155.624172                  NaN         NaN
F  -64.082259   -4.830413    84.89941165462288    4.709168
F  -64.082259   -4.830413    84.89941165462288    4.709168
G         NaN  -29.316424    44.44336864950651   -2.689055
G         NaN  -29.316424    44.44336864950651   -2.689055
H  122.589064   60.061342  -154.44991970725266   37.652009
H  122.589064   60.061342  -154.44991970725266   37.652009
I         NaN  -67.655609    98.80649587885446         NaN

In [62]:
df_dup.drop_duplicates()#aqui ele deletou (drop) todas as linhas duplicadas

      coluna1     coluna2              coluna3     coluna4
A  -17.389487   59.518328    47.59151409371285 -133.986451
B         NaN   74.386571   134.93273259013816 -112.326773
C  187.995904  -48.164639   -33.95751108540437  -83.633157
D         NaN  -78.735212  -163.09518773037985  -15.152938
E         NaN -155.624172                  NaN         NaN
F  -64.082259   -4.830413    84.89941165462288    4.709168
G         NaN  -29.316424    44.44336864950651   -2.689055
H  122.589064   60.061342  -154.44991970725266   37.652009
I         NaN  -67.655609    98.80649587885446         NaN

In [63]:
df_dup.drop_duplicates(subset=['coluna1'])# nesse caso ele olha todas as linhas da coluna 1 e retorna somente 
#uma linha com cada valor, eliminando as repetidas

      coluna1    coluna2              coluna3     coluna4
A  -17.389487  59.518328    47.59151409371285 -133.986451
B         NaN  74.386571   134.93273259013816 -112.326773
C  187.995904 -48.164639   -33.95751108540437  -83.633157
F  -64.082259  -4.830413    84.89941165462288    4.709168
H  122.589064  60.061342  -154.44991970725266   37.652009

In [64]:
df_dup.duplicated()

A    False
B    False
C    False
D    False
D     True
E    False
E     True
F    False
F     True
G    False
G     True
H    False
H     True
I    False
dtype: bool

In [65]:
df_dup[df_dup.duplicated()]

      coluna1     coluna2              coluna3    coluna4
D         NaN  -78.735212  -163.09518773037985 -15.152938
E         NaN -155.624172                  NaN        NaN
F  -64.082259   -4.830413    84.89941165462288   4.709168
G         NaN  -29.316424    44.44336864950651  -2.689055
H  122.589064   60.061342  -154.44991970725266  37.652009

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [66]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [67]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [152]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [147]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [153]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object